ENV=dev
PORT=3000
TZ=Europe/Paris

ECOLEDIRECTE_API_BASE_URL=https://api.ecoledirecte.com/v3
ECOLEDIRECTE_APIP_BASE_URL=https://apip.ecoledirecte.com/v3
ECOLEDIRECTE_IDENTIFIANT=<votre_identifiant>
ECOLEDIRECTE_MDP=<votre_mot_de_passe>
ECOLEDIRECTE_API_VERSION=4.98.0

AZURE_CLIENT_ID=<votre_client_id>
AZURE_TENANT_ID=<votre_tenant_id>
AZURE_CLIENT_SECRET=<votre_client_secret>
O365_ROBOT_EMAIL=<email_du_robot_o365>

SESSION_SECRET=<votre_cle_de_session>
EXTERNAL_DOMAIN=https://<votre_domaine_externe>
LAN_SUBNETS=<vos_sous_reseaux_lan format CIDR>
TRUST_PROXY=loopback
SESSION_COOKIE_SECURE=true
API_RATE_LIMIT_PER_SECOND=10
STATIC_RATE_LIMIT_PER_SECOND=100
NETWORK_FILTER_LOGS=false

DATABASE_URL=postgresql://user:password@localhost:5432/db
